<html>  
<head>
   {% load static %}
        <title>Model Macro Economique</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="{% static 'CSS/bootstrap.css'%}" rel="stylesheet" type="text/css">
        <link href="% static 'CSS/CSS.cs'%}" rel="stylesheet" type="text/css">
        
        
             <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
         <div class="navbar navbar-static">

    <div class="navbar-inner">

        <a href="#" class="brand">Brand</a>

        <ul role="navigation" class="nav">

            <li><a href="#">Home</a></li>

            <li><a href="#">Profile</a></li>

            <li class="dropdown">

                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Messages <b class="caret"></b></a>

                <ul class="dropdown-menu">

                    <li><a href="#">Inbox</a></li>

                    <li><a href="#">Drafts</a></li>

                    <li><a href="#">Sent Items</a></li>

                    <li class="divider"></li>

                    <li><a href="#">Trash</a></li>

                </ul>
    </body>
</html>